

<article class="text-white">
  <h3 class="text-2xl fonts text-yellow-200 mb-2">
    Project 1
  </h3>
  <p class="text-lg mb-4 text-pretty">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, quibusdam, voluptatem, quia voluptas quod quos quae voluptatum quidem doloremque doloribus nemo. Quisquam, voluptatibus, quibusdam, voluptatem, quia voluptas quod quos quae voluptatum quidem doloremque doloribus nemo.
  </p>
  <ul class="flex flex-row gap-3 mb-2">
    <li>
      <a href="#">Link 1</a>
    </li>
    <li>
      <a href="#">Link 2</a>
    </li>
    <li>
      <a href="#">Link 3</a>
    </li>
  </ul>
  <img class="rounded shadow-2xl shadow-white/10" src="https://www.ismartrecruit.com/upload/blog/main_image/recruitment_chatbot_definition_features_and_benefits.webp" alt="">
</article>